.chat-contain {
    height: 90%;
    width: 94%;
    background-color: #2D2E32;
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
    float: left;
    border-radius: 10px;
}

.chat-contain-title {
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.05em;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 20px;
}

.chat-contain-message {
    width: 100%;
    height: 450px;
    background-color: #DCDCDC;
    float: left;
    overflow-y: auto;
}

.chat-contain-message-contain {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    overflow-wrap: break-word;
}

.chat-contain-message-contains {
    width: 20%;
}

.chat-contain-message-contain-name-contents {
    width: 100px;
    font-size: 16px;
    background-color: #333;
    border-radius: 5px;
    color: #DCDCDC;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.chat-contain-message-contain-contents {
    margin-left: 50px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    color: #333;
}

.chat-contain-send {
    float: left;
    height: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.chat-contain-send-input {
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    height: 30px;
    text-align: center;
}

.chat-contain-send-button {
    background-color: #DCDCDC;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.05em;
    font-weight: 400;
    color: #333;
}

@media only screen and (min-width: 768px) {
    .chat-contain {
        height: 600px;
        /* margin-top: 110px; */
    }
    
    .chat-contain-title {
        font-size: 35px;
    }
    
    .chat-contain-message {
       width: 100%;
       height: 450px;
    }
    
    .chat-contain-send-input {
        width: 53%;
        text-align: left;
        padding-left: 10px;
    }
    
    .chat-contain-send-button {
        width: 150px;
        float: right;
    }    
}

@media only screen and (min-width: 1024px) {
    .chat-contain {
       height: 800px;
       margin-top: 25px;
    }
    
    .chat-contain-message {
        height: 650px;
    }
    
    .chat-contain-send-input {
       width: 70%;
       height: 40px;
    }
    
    .chat-contain-send-button {
        height: 40px;
    }    
}

