
.page-title{
    margin-right: 10px;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;

}


.box-sign-up{
    width: 40%;
    height: 500px;
    margin: auto;
    margin-bottom: 20px;
    background: #2D2E32;
    position: relative;
    top:0; bottom:0; /* wyrównanie w pionie */
    left:0; right:0; /* wyrównanie w poziomie */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    border: 3px solid #2D2E32;
    box-shadow: 14px -5px 5px 0px rgba(0,0,0,0.75);
    opacity: 0.9;
    border-radius: 10px;
}