
.page-title, h2{
    font-size: 2em;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;

}

.box-sign-up{
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
    padding: 20px;
    background: #2D2E32;
    border: 3px solid #2D2E32;
    box-shadow: 14px -5px 5px 0px rgba(0,0,0,0.75);
    opacity: 0.9;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
}

input{
    align-content: center;
    width: 80%;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.input-submit{
    width: 80%;
    background:whitesmoke;
    
}

input.input-submit{
    color: #2D2E32;
    font-size: 1.4em;
    font-weight: solid;
}

button{
    color: #2D2E32;
    font-size: 1.4em;
    width: 80%;
    align-content: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}


input:required:invalid, input:focus:invalid {
    background-image: url(../../images/invalid.png);
    background-position: right center;
    background-repeat: no-repeat;
  }

input:required:valid {
    background-image: url(../../images/valid.png);
    background-position: right center;
    background-repeat: no-repeat;
  }


.error-info{
    font-size: 16px;
    color: red;
}