@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.content-playlists{
    padding: 15px;
    text-align: center;
}

.content-when-donwload-link-upload {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    top: 0px;
    left: 0px;
    z-index: 11;
    opacity: 0.7;
}

.content-when-download-link-contain {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 12;
}

.content-when-download-link-table {
    background-color: #2D2E32;
    width: 300px;
    height: 100px;
    position: relative;
    margin: auto;
    top: 45%;
    border-radius: 10px;
    color: #fff;
    line-height: 50px;
}

.content-when-download-link-table-button {
    padding: 0px;
    height: 30px;
    line-height: 0px;
    width: 100px;
    border: unset;
}

.content-playlist-create-new-playlist {
    color: #fff;
    background-color: #2D2E32;
    position: fixed;
    font-size: 18px;
    font-weight: 600;
    height: 70px;
    line-height: 70px;
    z-index: 2;
    transition: 0.5s;
    width: 350px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.content-playlist-create-new-playlist-icon {
    margin-left: 4px;
    margin-right: 4px;
}

.content-playlist-title {
    margin: auto;
    padding: 10px;
    background-color: #2D2E32;
    opacity: 0.9;
    position: relative;
    border-radius: 10px;
     
}
.content-playlist-title-text{
    opacity: 0.7;
    color: #fff;
    letter-spacing: 0.05em;
    font-weight: 400; 
}

.fas.fa-info-circle,
.fas.fa-exclamation-circle{
    font-size: 50px;
    color: #fff;
}

.fab.fa-youtube{
    margin-right: 10px;
}

.content-playlist-info{
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.05em;
    margin-top: 20px;
}

.content-playlist-info p{
    margin-top: 15px;
}

.content-playlists-options-add {
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 10px;
    width: 200px;
    border: unset;
    height: 30px;
    padding: 0px;
    font-size: 15px;
    background-color: rgb(220, 220, 220);
}

.content-hide-section {
    position: fixed;
    z-index: 11;
    opacity: 0.7;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
}

.content-hide-section:hover {
    cursor: pointer;
}

.content-pop-up {
    position: fixed;
    top: 10%;
    right: 10%;
    height: 82%;
    width: 80%;
    background-color: #2D2E32;
    z-index: 11;
    border-radius: 15px;
}

.content-exit {
    color: #fff;
    text-align: right;
    margin-right: 25px;
    margin-top: 15px;
}

.content-exit-icon {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 10px;
}

.content-exit-text {
    opacity: 0.7;
    transition: 1s;
}

.content-exit-text:hover,
.content-exit-text:hover .content-exit-icon {
    cursor: pointer;
    opacity: 1;
    transition: 1s;
}

.content-underline {
    width: 100%;
}

.content-underline-line {
    background-color: #fff;
    opacity: 0.7;
    height: 1px;
    float: right;
    width: 75px;
    margin-right: 25px;
}

.content-pop-up-title {
    color: #fff;
    font-size: 12px;
    position: relative;
    float: left;
    width: 100%;
    height: 40px; 
    margin-top: 15px;
    border-radius: 5px;
    font-weight: 900;
    line-height: 40px;
    margin-bottom: 20px;
}

.content-pop-up-title-text {
    font-size: 20px;
}

.content-pop-up-name {
    color: #fff;
    position: relative;
    margin-top: 20px;
}

.content-pop-up-input {
    width: 250px;
    height: 25px;
}

.content-pop-up-description {
    resize: unset;
    width: 250px;
    height: 50px;
    margin-top: 5px;
}

.content-pop-up-submit {
    background-color: rgb(92, 184, 92);
    height: 45px;
    font-size: 15px;
    padding: 0px;
    width: 250px;
    color: white;
    font-size: 18px;
}

.playlists-item {
    margin-top: 25px;
    border-radius: 10px; 
    box-shadow: 10px 10px 50px -4px rgba(0,0,0,0.75);
    border: 3px solid rgb(99, 99, 102);
    height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    background-color: #2D2E32;
}

.playlist-img{
    padding:20px;
    margin: auto;
    min-height: "250px";
    min-width: "250px";
}

.playlists-item-box{
    background-color: rgba(220,220,220, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.playlists-item-box:hover {
    background:none;
    color:inherit
}

.playlists-buttons-hover{
    display: none;
}

.playlists-item-box:hover .playlists-buttons-hover{
    display: block;
    margin-top: 240px;
    height: 157px;
    background: rgba(26, 25, 25, 0.7);
    border-bottom: 3px solid #2D2E32;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.playlists-title{
    color: #f3f3f3;
    font-size: 25px;
    padding: 5px;
}

.btn-playlists{
    font-size: 18px;
    width: 130px;
    padding: 3px;
    background-color: #DCDCDC;
}

.playlist-empty {
    background-color: #2D2E32;
    opacity: 0.9;
    float: left;
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 5px;
    height: 200px;
}

.playlist-empty-text {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.05em;
    margin-top: 20px;
}

.spinner {
    width: 100px;
    height: 100px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .playlist-loading {
    width: 80%;
    height: 100px;
    margin-left: 10%;
    float: left;
    margin-top: 150px;
}

.playlist-loading-text {
    color: #fff;
    background-color: #2D2E32;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.9;
}

.section-upload-hide {
    position: fixed;
    z-index: 3;
    background-color: black;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.section-upload {
    position: fixed;
    height: 100%;
    width: 100%;    
    top: 0px;
    left: 0px;
    z-index: 4;
}

.section-upload-contain {
    width: 350px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 200px;
    border-radius: 5px;
    background-color: #2D2E32;
}

.section-upload-contain-title {
    color: #fff;
    width: 100%;
    float: left;
    margin-top: 15px;
}

.section-upload-contain-number {
    background-color: white;
    height: 40px;
    width: 90%;
    margin-left: 5%;
    float: left;
    margin-top: 15px;
    opacity: 1;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
}

.section-upload-contain-copy {
    height: 35px;
    padding: 0px;
    width: 150px;
    font-size: 15px;
    border: unset;
    margin-top: 15px;
    background-color: rgb(51, 122, 183);
    color: white;
}

.section-complete-copy {
    background-color: #2D2E32;
    position: fixed;
    z-index: 4;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    color: #fff;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
    bottom: 50px;
}

.section-complete-copy-ok {
    margin-left: 5px;
    color: green;
}

@media only screen and (min-width: 768px) {
    .content-when-download-link-table {
        width: 500px;
        font-size: 25px;
        height: 125px;
        line-height: 62.5px;
    }
    
    .content-when-download-link-table-button {
        font-size: 15px;
        height: 35px;
        font-weight: 600;
    }

    .content-pop-up {
        top: 20%;
        right: 20%;
        height: 60%;
        width: 60%;
    }

    .content-pop-up-title-text {
        font-size: 25px;
    }

    .content-playlist-title-text {
      font-size: 30px;
    }

    .playlist-empty-text {
        font-size: 18px;
    }
    
    .playlist-loading-text {
       padding: 20px;
       font-size: 20px;
       margin-top: 10px;
    }

    .section-upload-contain {
        margin-top: 300px;
        margin-left: 45%;
    }
}

@media only screen and (min-width: 1024px) {
    .content-pop-up {
        top: 25%;
        right: 30%;
        height: 50%;
        width: 40%;
    }

    .content-playlist-title {
        width: 70%;
        /* margin-left: 25%; */
    }

    .playlist-empty  {
        width: 50%;
        margin-left: 25%;
    }

    .playlist-empty-text {
        font-size: 18px;
    }
    
}