
.box-sign-in{
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 40px;
    background: #2D2E32;
    border: 3px solid #2D2E32;
    box-shadow: 14px -5px 5px 0px rgba(0,0,0,0.75);
    opacity: 0.9;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
  

}

/* @media only screen and (max-width: 600px) {
    .box-sign-in{
        width: 90%;
        height: 450px;
    }
}


@media only screen and (min-width: 600px) and (max-width: 800px){
    .box-sign-in{
        width: 65%;
        height: 450px;
    }
}

@media only screen and (min-width: 800px){
    .box-sign-in{
        width: 40%;
        height: 450px;
    }
} */