
.search-content-row-form-contain {
    position: absolute;
    top: 0px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    margin-top: 25px;
    right: 5px;
    z-index: 3;
}

.search-content-row-form-contain:hover {
    cursor: pointer;
}





