.content{
    text-align: center;
    margin-bottom: 40px;
}

.playlist-item{
    background: #DCDCDC;
    margin: 20px;
    padding: 30px;
    border-radius: 10px; 
    border: 3px solid #2D2E32;
}

.playlist-buttons{
    background: #DCDCDC;
    margin: 30px;
    padding: 10px;
    border-radius: 10px; 
    border: 3px solid #2D2E32;
}

.btn-playlist{
    width: 45%;
    font-size: 25px;
    border: 2px solid #2D2E32;
}

.btn-playlist-item{
    width: 90%;
    font-size: 25px;
    border: 2px solid #2D2E32;
}

.btn{
    
    font-size: 14px;
    /* letter-spacing: 0.10em; */
}

.fab, .fas, .far{
    margin-right: 5px;
    font-size: 20px;
}

iframe{
    border: 0;
}

.playlist-item-video{
    max-height: 600px;
}

@media only screen and (max-width: 1000px) {
    .btn-playlist {
        width: 80%;
    }

    .btn-playlist-item{
        width: 80%;
    }
}


