.content{
    text-align: center;
    bottom: 100px;
    margin-bottom: 150px;
    /* margin-bottom - miejsce na player */
}

.playlist-item{
    padding: 20px;
    margin: 5px;
    background: #2D2E32;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px -4px rgba(0,0,0,0.75);
    max-height: 600px;
}

.btn-playlist-head{
    font-size: 18px;
    padding: 3px;
    width: 200px;
    background-color: #DCDCDC;
}

.btn-playlist{
    font-size: 18px;
    padding: 3px;
    width: 100px;
    background-color: #DCDCDC;

}

.fab .fas .far{
    margin-right: 5px;
    font-size: 22px;
}

iframe{
    border: 0;
}
