.layout{
    position: relative;
    left: 0;
    margin-left: 230px;
    margin-top: 55px;
    min-height: 100%;
}


@media only screen and (max-width: 760px) {
    .layout {
        margin: 350px 0 0 0;
    }

}