.content-player {
    position: fixed;
    z-index: 11;
    background: linear-gradient(black, #2D2E32);
    transform: translate(-50%, 0);
    left: 50%;
    height: 500px;
    width: 350px;
    border-radius: 15px;
    transition: 1s;
    border: 0.5px solid rgb(99, 99, 102);
}

.content-player-options {
    position: relative;
    height: 25px;
    margin-top: 5px;
    width: 100%;
    text-align: right;
    color: #fff;
}

.content-player-options-hide {
    opacity: 0.5;
    transition: 1s;
    margin-right: 10px;
}


.content-player-options-close {
    opacity: 0.5;
    transition: 1s;
    margin-right: 20px;
    margin-left: 10px;
}

.content-player-controls-fullscreen {
    opacity: 0.5;
    transition: 1s;
    margin-right: 20px;
    margin-left: 10px;
    word-spacing: 5px;
}

.content-player-options-list {
    opacity: 0.5;
    transition: 1s;
    margin-right: 10px;
}

.content-player-options-hide:hover,
.content-player-options-close:hover,
.content-player-controls-fullscreen:hover,
.content-player-options-list:hover {
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}

.content-player-options-underline {
    height: 1.5px;
    background-color: #fff;
    opacity: 0.2;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.player {
    width: 150px;
    margin-top: 15px;
    height: 100px;
    float: left;
    margin-left: 100px;
}

.content-player-underline {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    height: 1.5px;
    opacity: 0.2;
    background-color: white;
    margin-top: 5px;
}

.content-player-title-play {
    text-align: center;
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #fff;
    opacity: 0.5;
    font-weight: 900;
}

.content-player-actually-music-title {
    float: left;
    width: 80%;
    margin-left: 10%;
    position: relative;
    height: 60px;
    color: #fff;
    opacity: 0.7;
    line-height: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content-player-control-video {
    z-index: 11;
    position: fixed;
    height: 250px;
    width: 350px;
    background: linear-gradient(#2D2E32, black);
    opacity: 1;
    border-radius: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 0.5px solid rgb(99, 99, 102);
    transition: 1s;
}

.content-player-actually-marquee {
    float: left;
    width: 80%;
    margin-left: 10%;
    position: relative;
    color: #fff;
    opacity: 0.7;
    margin-top: 10px;
    font-size: 15px;
}

.content-player-actually-music-title-time {
    position: relative;
    text-align: center;
}

.content-player-controls {
    border-radius: 5px;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    text-align: center;
}

.content-player-controls-icons {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
    transition: 1s;
    border: 0.5px solid rgb(99, 99, 102);
    border-radius: 50%;
    padding: 10px;
}

.content-player-controls-icons:hover,
.content-player-controls-sound:hover {
    cursor: pointer;
    opacity: 1;
    transition: 1s;
}

.content-player-controls-sound {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10px;
    color: #fff;
    opacity: 0.5;
    transition: 1s;
    border: 0.5px solid rgb(99, 99, 102);
    border-radius: 20%;
    padding: 10px;  
}

.content-player-controls-sound:hover .content-player-controls-sound-contain  {
    visibility: visible;
    transition: 1s;
    opacity: 1;
}

.content-player-controls-sound-contain {
    width: 40px;
    position: absolute;
    top: 0px;
    left: 31px;
    height: 31px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
}

.content-player-controls-sound-input {
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
}


.content-player-controls-progress {
    -webkit-appearance: none;
    background-color: #2D2E32;
    margin: 10px 0;
    width: 100%;
    border: unset;
    height: 20px;
}

.content-player-controls-progress:focus {
    outline: none;
}

.content-player-controls-progress::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #DCDCDC;
    border-radius: 5px;
    border: 0px solid #000101;
}
.content-player-controls-progress::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0.5px solid #000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.6px;

}

.content-player-controls-progress:focus::-webkit-slider-runnable-track {
    background: #DCDCDC;
}

.content-player-controls-progress::-moz-range-track {
    width: 100%;
    height: 8.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #DCDCDC;
    border-radius: 5px;
    border: 0px solid #000101;
}

.content-player-controls-progress::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
}

.content-player-controls-progress::-ms-track {
    width: 100%;
    height: 8.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

.content-player-controls-progress::-ms-fill-lower {
    background: #DCDCDC;
    border: 0px solid #000101;
    border-radius: 5px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

.content-player-controls-progress::-ms-fill-upper {
    background: #DCDCDC;
    border: 0px solid #000101;
    border-radius: 5px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

.content-player-controls-progress::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 10px;
    width: 19px;
    border-radius: 7px;
    cursor: pointer;
}

.content-player-playlist {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    height: 220px;
    margin-top: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 0.5px solid rgb(99, 99, 102);
    border-bottom: 0.5px solid rgb(99, 99, 102);
}

.content-player-playlist-music::-webkit-scrollbar-track
{
	border-radius: 5px;
	background-color: #2D2E32;
}

.content-player-playlist::-webkit-scrollbar
{
	width: 8px;
	background-color: #2D2E32;
}

.content-player-playlist::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    background-color: rgb(99, 99, 102);
}

.content-player-hide-player {
    background: linear-gradient(red, #2D2E32);
    height: 50px;
    width: 50px;
    position: fixed;
    z-index: 11;
    right: 15px;
    transition: 1s;
    border-radius: 10px;
    border: 1.5px solid rgb(99, 99, 102);
    text-align: center;
    color: #fff;
}

.content-player-hide-player-icon {
    color: #fff;
    line-height: 50px;
    font-size: 25px;
    transition: 1s;
}

.content-player-hide-player-icon:hover {
    cursor: pointer;
    transition: 1s;
}

@media only screen and (min-width: 768px) {
    .content-player {
        height: 700px;
        width: 550px;
    }
    
    .content-player-options-underline {
        margin-top: 5px;
    }

    .content-player-title-play {
        margin-top: 50px;
    }
    
    .player {
       height: 200px;
       width: 350px;
    }
    
    .content-player-underline {
       margin-top: 10px;
    }
    
    .content-player-actually-music-title {
       font-size: 18px;
    }

    .content-player-control-video {
        width: 400px;
        height: 250px;
    }

    .content-player-actually-marquee {
        font-size: 20px;
    }

    .content-player-controls-icons,
    .content-player-controls-sound {
        font-size: 20px;
    }

    .content-player-controls-sound-contain {
        left: 41px;
        height: 41px;
        width: 70px;
    }

    .content-player-controls-sound-input {
        margin-top: 10px;
    }

    .content-player-playlist {
        margin-top: 60px;
        height: 250px;
    }

    .content-player-hide-player {
        width: 100px;
        height: 100px;
    }

    .content-player-hide-player-icon {
        font-size: 50px;
        line-height: 100px;
    }
}

@media only screen and (min-width: 1024px) {
    .content-player {
        height: 800px;
        width: 800px;
    }
    
    .content-player-options-underline {
        margin-top: 5px;
    }
    
    .player {
       height: 200px;
       width: 60%;
       margin-left: 20%;
       margin-right: 20%
    }
    .content-player-controls {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .content-player-playlist {
        height: 350px;
    }
}
