/*First Mobile*/
.error {
  position: relative;
    width: 100%;
    overflow: hidden;
    background-color: rgb(45, 46, 50);
    height: 1000px;
    font-family: 'Lato', sans-serif;
}

.error-title {
    position: relative;
    margin: auto;
    perspective: 25px;
    height: 250px;
    text-align: center;
}

.error-title-contain {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: 60%;
  background-color: rgb(206, 204, 206);
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  transform: matrix(1.15157, 0, 0, 1.15157, 0, 5);
}

.error-title-contain-text-image {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.error-title-contain-text-404 {
  font-size: 40px;
  font-weight: 900;
  color: rgb(254, 0, 0);
}

.error-title-contain-text-alert {
  font-size: 15px;
  text-transform: uppercase; 
}

.error-content {
    margin-top: 10px;
}

.error-content-help-text {
    color: white;
    text-align: center;
}

.error-content-input-search {
    border-radius: 2px;
    border: unset;
    font-size: 15px;
    height: 35px;
    background-color: rgb(240, 239, 238)
}

.error-content-button-search {
    height: 35px;
    font-size: 15px;
    border: unset;
    border-radius: 2px;
    margin-top: 10px;
}

.error-content-help {
    margin-top: 50px;
}
  
.error-content-help-suggestion {
    color: white;
    text-align: center;
    opacity: 0.7;
    transition: 0.5s;
}

.error-content-help-suggestion:hover {
  cursor: pointer;
  opacity: 1;
}

.error-content-help-suggestion-space {
    color: gray;
    letter-spacing: -1px;
    text-align: center;
}

.error-icon {
    position: relative;
    width: 100%;
    height: 50px;
    float: left;
    text-align: center;
    margin-top: 50px;
}

.error-icon-contain {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
  transition: 0.5s;
}

.error-icon-contain:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.5s;
}

.error-icon-contain-text {
  color: white;
}

@media only screen and (min-width: 768px) {
  .error-title-contain {
    height: 80%;
    margin-top: 75px;
  }

  .error-content {
    margin-top: 50px;
  }

  .error-content-help-text {
    text-align: left;
  }

  .error-content-input-search {
      height: 35px;
      margin-top: 2.5px;
  }
  
  .error-content-button-search {
      height: 40px;
      margin-left: 5px;
      margin-top: 0px;
  }

  .error-title-contain-text-image {
    width: 100px;
    height: 70px;
    margin-bottom: 15px;
  }

  .error-title-contain-text-404 {
    font-size: 70px;
    font-weight: 900;
  }

  .error-title-contain-text-404-warning {
    font-size: 50px;
  }
  
  .error-title-contain-text-alert {
    font-size: 25px;
    text-transform: uppercase; 
  }
}

@media only screen and (min-width: 1024px) {
  .error-title-contain {
    width: 1200px;
  }
}
