/*First Mobile*/
.error {
  position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background-color: rgb(45, 46, 50);
    height: 100vh;
}

.error-title {
    position: relative;
    line-height: 250px;
    margin: auto;
    perspective: 25px;
    height: 250px;

}
  .error-message {
    position: relative;
  }

  .error-help-text {
    color: white;
    text-align: left;
  }
