.header{
    height: 70px;
    background: #2D2E32;
}

.navbar-text{
    font-size: 1.6em;
    font-weight: bold;  
    color: whitesmoke;
}

.brand-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logo-img {
    margin-right: 5px;
    width: 70px;

}


