.navbar{
    height: 55px;
    background: #2D2E32;
    border: none;
    margin-bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.navbar-btn{
    margin: 8px;
    float: right;
    font-size: 18px;
    background-color:#DCDCDC;
}

.logo-img {
    margin:2px 5px 5px 0 ;
    width: 50px;

}

.brand-name{
    color: whitesmoke;
    display: inline-block;
    padding: 6px;
    font-size: 26px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
}

.toggle-menu{
    color: whitesmoke;
    margin: 15px 0 12px 6px;
    vertical-align: middle;
    cursor: pointer;
}

.fa-bars{
    font-size: 30px;
    padding: 5px;
    margin-top: 5px;
    position: relative;
}
.brand-name:hover{
    text-decoration: none;
    color:whitesmoke;
}




