.navbar{
    height: 55px;
    background: #2D2E32;
    border: none;
    margin-bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.navbar-btn{
    margin: 8px;
    float: right;
    font-size: 18px;
    background-color:#DCDCDC;
}

.logo-img {
    margin: 12px 0 12px 12px;
    width: 42px;
    float: left;

}

.text{
    color: whitesmoke;
    display: inline-block;
    padding: 8px;
    margin-bottom: 0;
    font-size: 26px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}


.text:hover{
    text-decoration: none;
    color:whitesmoke;
}




