.copyright {
    padding: 5px 0;
    background: #2D2E32;    
    position:absolute;
    bottom:0;
    width:100%;

}

.copyright p {
    font-size: 15px;
    letter-spacing: 0.10em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: whitesmoke;
}