.copyright {
    padding: 1em 0;
    background: #2D2E32;    

}

.copyright p {
    letter-spacing: 0.10em;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: whitesmoke;
}